.mega-menu li.menu-color1 a:hover,
.mega-menu li.menu-color1.active a {
	color:#ff6600;
}

.mega-menu li.menu-color1.active .dropdown-menu li a {
	color: #222222;
}

.mega-menu li.menu-color1.active .dropdown-menu li.active a {
	color: #ff6600;
}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover {
	background: none;
	color: #ff6600;
}

.fancybox-wrap {
	border: 2px solid #dadada;
}

.iframe-body {
	background-color: #fff;
	width: 400px;
	padding: 15px;
}

.text-right {
	float: right;
}