.mega-menu li.menu-color1 a:hover,
.mega-menu li.menu-color1.active a {
	color:#ff6600;
}

.mega-menu li.menu-color1.active .dropdown-menu li a {
	color: #222222;
}

.mega-menu li.menu-color1.active .dropdown-menu li.active a {
	color: #ff6600;
}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover {
	background: none;
	color: #ff6600;
}
/*
.fancybox-wrap {
	border: 2px solid #dadada;
}
*/
.iframe-body {
	background-color: #fff;
	width: 300px;
	padding: 15px;
}

.text-right {
	float: right;
}

.share-wrapper .share-buttons {
	top: 0;
}

.share-buttons a {
	margin: 0;
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #dadada;
	background: #fff;
	color: #222;
	/* ff6600 */
}

.share-buttons a:hover {
	color: #ff6600;
	border-color: #ff6600
}

.ya-share2 ul.ya-share2__list {
	margin-bottom: 0px;
}

.widget-border {
    padding: 20px;
    border: 2px solid #dadada;
}

.program-preview-text-block {
	height: 58px;
    overflow: hidden;
}

.post-wrapper .post-meta {
	position: relative;
}

.program-buy-block {
	position: absolute;
	top: 15px;
    right: 15px;
	z-index: 100;
}

.inline-block {
	display: inline-block;
}

.program-price-block {
	font-weight: bold;
    color: #222;
    margin: 0 10px 5px 0;
	
}

.load-more button.loading {
	color: #fff;
	border:2px solid #7a7a7a;
	background: #7a7a7a;
}

.load-more button.loading i {
	background: url('/images/ajax-preloader.gif') 0 0 no-repeat;
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

.lessons-list .lesson-block {
	border: 2px solid #dadada;
    padding: 20px;
	margin: 0 0 20px 0;
	height: 190px;
	overflow: hidden;
	text-align: center;
	position: relative;
}

.lessons-list .lesson-block .glyphicon {
	font-size: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.lesson-tasks .panel .panel-heading {
	position: relative;
}

.lesson-tasks .panel .panel-heading .task-icon {
	position: absolute; 
	right: 10px; 
	top: 15px;
}

.lesson-tasks .panel .panel-heading .collapsed .task-icon {
	color: fff;
}

.success-text {
	color: #8cc152;
}

#notifies-block {
	position: fixed;
	right: 10px;
	bottom: 0px;
	width: 300px;
	z-index: 101;
}

#vk_comments {
	margin: 0 0 50px 0;
}

.progress {
	height: 20px;
}

.progress .sr-only {
	position: static;
}

.mm-menu .mm-offcanvas {
    display: none;
    position: fixed;
}

.header-right .header-phone-block {
	margin: 15px 15px 0 0;
    float: left;
	font-weight: bold;
}

.header-right .social-icons {
	float: right;
}


@media (max-width: 1199px) {
	.header-right {
		right: 10px;
	}
}

@media (max-width: 991px) {
	.header-right .social-icons {
		display: none;
	}
}	

@media (max-width: 400px) {

	.header-right .header-phone-block {
		font-size: 13px;
		margin: 17px 0 0 0;
	}
	
	.header-right {
		right: 0px;
	}
}